.events-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.7rem;
  font-family: 'EB Garamond', serif;
  text-align: center;
  color: #4B575E;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-date {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* Each event block */
.event {
  width: 16rem;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.event-header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-title {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px; /* Remove default margin for alignment */
}

.event-time {
  font-size: 0.9rem;
}

.event-location {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 0.9rem;
  margin: 8px;
}

.event-address {
  display: flex;
  justify-content: left;
  font-size: 0.9rem;
  margin: 8px;
  margin-bottom: 6px;
  white-space: nowrap;
}

.location-icon {
  margin-right: 0.4rem;
  color: #777768;
  font-size: 0.8rem; /* Adjust this value to make the icon larger or smaller */
}

