.dress-code-wrapper {
    position: relative;
    font-family: 'EB Garamond', serif;
    display: flex;
    justify-content: left;
    align-items: center;
  }

.dress-code-btn {
  background: none;
  color: #4B575E;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: 'EB Garamond', serif;
  display: flex;
  align-items: center;
  text-decoration: underline;
  padding-left: 8px;
}

  /* Modal overlay covers the entire window */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal content styling */
  .modal-content {
    position: relative;
    background-color: #EEF1F3;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 78%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    color:#4B575E;
  }

  .modal-content h2 {
    font-size: 1.2rem;
  }

  .modal-content p {
    font-size: 0.88rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  /* Image styling */
  .dress-code-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem auto 0;
  }
  
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 24px;
    line-height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #4B575E;
  }

  .dress-icon {
    margin-right: 0.4rem;
    color: #4B575E;
    font-size: 0.9rem;
  }